body{
	background-color: hsl(233, 47%, 7%);
	font-size: 15px;
	font-family: 'Inter', sans-serif;
	font-family: 'Lexend Deca', sans-serif;
}

h1, h3{
	color: white;
}

b{
	color: hsl(277, 64%, 61%);
}

.main{
	color: hsla(0, 0%, 100%, 0.75);
}

.heading{
	color: hsla(0, 0%, 100%, 0.6);
}

main{
	background-color: hsl(244, 38%, 16%);
}

/*Mobile Size*/
@media(max-width: 375px){
	main{
		border-radius: .5rem;
	}
	picture img{
		width: 100%;
		max-width: 654px;
		border-top-left-radius: .5rem;
		border-top-right-radius: .5rem;
	}
}

/*Desktop Size*/
@media(min-width: 375px){
	main{
		border-radius: .5rem;
		min-height: 413px;
		max-width: 1000px;
		margin: auto;
	}
	picture img{
		border-bottom-right-radius: .5rem;
		border-top-right-radius: .5rem;
		width: 100%;
		max-width: 500px;
		max-height: 446px;
		min-height: 375px;
		/*TODO: Make the image scalable with the card size */
	}
	picture{
		float: right;
	}
	article{
		max-width: 500px;
		min-width: 375px;
		overflow: hidden;
	}
	#stats{
		margin-top: 5rem;
	}
}

.stat{
	display: inline-block;
}

