body{
	background-color: hsl(233, 47%, 7%);
	font-size: 15px;
	font-family: 'Inter', sans-serif;
	font-family: 'Lexend Deca', sans-serif;
}

main{
	background-color: hsl(244, 38%, 16%);
	border-radius: .5rem;
}

h1, h2{
	color: white;
}

b{
	color: hsl(277, 64%, 61%);
}

.main{
	color: hsla(0, 0%, 100%, 0.75);
}

.heading{
	color: hsla(0, 0%, 100%, 0.6);
}

.attribution{
	color: white;
}

.stat{
	display: inline-block;
}

/*Mobile Size*/
@media(max-width: 375px){
	main{
		margin: 25% 5%;
		min-width: 190px;
	}

	picture img{
		width: 100%;
		max-width: 654px;
		border-top-left-radius: .5rem;
		border-top-right-radius: .5rem;
	}

	article{
		padding: 2.5% 10% 5% 10%;
		overflow: hidden;
	}

	h1, h1 b, p{
		text-align: center;
	}

	h1{
		font-size: 175%;
	}

	#stats{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.stat h2{
		margin-bottom: 0%;
	}

	.stat p{
		margin-top: 10%;
	}
}

/*Desktop Size*/
@media(min-width: 375px){
	main{
		width: 100%;
		max-width: 1000px;
		margin: 9% auto 10% auto;
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
	}

	picture img{
		border-bottom-right-radius: .5rem;
		border-top-right-radius: .5rem;
		width: 100%;
		height: 100%;
	}

	article{
		padding: 2rem 6rem 4rem 4rem;
		max-width: 340px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-shrink: 1;
	}

	h1{
		font-size: 2rem;
	}

	#stats{
		margin-top: 2.5rem;
		display: flex;
		justify-content: space-between;
	}
}